:root {
  /* Colores */


  /* Otros */
  --primary-font: 'Roboto', sans-serif;
  --max-width: 120rem;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #231557;
  hyphens: auto;
  text-align: justify;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
  color: #44107a;
}

h2 {
  font-size: 2rem;
  color: #a02c53;
}

h3 {
  font-size: 1.8rem;
  color: var(--text-100);
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}



ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  display: block;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: var(--max-width);
}

.active-link {
  @apply text-[#ff1361] font-bold
}



/* ProjectCard colors*/
.tech {
  color: #4f87a5;
}

.term {
  color: #f6c744;
}

.api {
  color: #74ddf7;
}

.lib {
  color: #ab83e1;
}